<!-- <div class="header">
  <div class="h-container">
    <div class="h-title">
      <span>Ansh</span>
      <span>Ezhava</span>
    </div>
  </div>
</div> -->

<!-- Moving dots background -->
<div class="particles-container">
  <div class="particle small"></div>
  <div class="particle medium"></div>
  <div class="particle large"></div>
  <div class="particle small"></div>
  <div class="particle medium"></div>
  <div class="particle small"></div>
  <div class="particle large"></div>
  <div class="particle medium"></div>
  <div class="particle small"></div>
  <div class="particle medium"></div>
  <div class="particle small"></div>
  <div class="particle large"></div>
  <div class="particle medium"></div>
  <div class="particle small"></div>
  <div class="particle medium"></div>
  <div class="particle small"></div>
  <div class="particle large"></div>
  <div class="particle medium"></div>
</div>

<!-- Hero Section -->
<div class="container">
  <div class="content">
    <div class="hero-section">
      <h1 class="hero-title">
        Hi! I'm <span class="name-highlight">Ansh</span>,<br />
        I am a, <br />
        <span class="typing-animation"></span>
      </h1>
    </div>
  </div>
</div>
